body {
    background-color: rgb(255, 255, 255);
}

header a {
   padding-left: 56px;
   padding-right: 56px;
   padding-top: 10px;
   padding-bottom: 10px;
   background-color: rgba(218, 200, 153, 0.712);
   font-size: 30px;
   font-family: 'Patrick Hand', cursive;
}


h2 {
   font-size: 55px;
   background-color: chocolate;
   margin-top: 40px;
   padding-left: 505px;
   padding-bottom: 12px;
   padding-top: 12px;
   font-family: 'Amatic SC', cursive;
}

h3 {
   font-size: 30px;
   background-color: rgb(100, 50, 25);
   margin-top: -46px;
   margin-bottom: 15px;
   padding-left: 690px;
   padding-top: 7px;
   padding-bottom: 7px;
   font-family: 'Dancing Script', cursive;
}

.link1 {
   background-color: rgb(225, 120, 0);
   width: 5%;
   padding-left: 70px;
   padding-top: 20px;
   padding-bottom: 20px;
   padding-right: 70px;
   font-size: 20px;
   
}

.link2 {
   background-color: rgb(225, 120, 0);
   width: 5%;
   padding-left: 70px;
   padding-top: 20px;
   padding-bottom: 20px;
   padding-right: 70px;
   font-size: 20px;
}

.contenedor {
   border: 3px solid #000;
   display: grid;

   grid-template-columns: 580px 580px 580px;
   padding-left: 33px;
   padding-top: 33px;
   padding-bottom: 33px;

   grid-template-rows: 1fr 1fr;
   grid-template-rows: 580px 580px 580px;

   grid-column-gap: 2%;
   grid-row-gap: 165px;

}

.item {
   background-color: rgba(218, 200, 153, 0.712);
   border: 7px dashed rgba(100, 50, 25)
}

div .hola {
   width: 76%;
   padding-left: 69px;
   padding-top: 10px;
   
}

div .holaa {
   width: 96%;
   padding-left: 10px;
   padding-top: 10px;
}

div .holaaa {
   width: 72%;
   padding-left: 77px;
   padding-top: 10px;
}

.titulo1 {
   background-color: rgb(255, 105, 0);
   margin-left: 5px;
   padding-left:155px;
   padding-right: 156px;
   padding-top: 10px;
   padding-bottom: 10px;
   font-size: 30px;
   color: rgb(100, 50, 25);
   font-family: 'Mochiy Pop P One', sans-serif;
}

.titulo2 {
   background-color: rgb(255, 105, 0);
   margin-left: 5px;
   padding-left:48px;
   padding-right: 48px;
   padding-top: 10px;
   padding-bottom: 10px;
   font-size: 30px;
   color: rgb(100, 50, 25);
   font-family: 'Mochiy Pop P One', sans-serif;
}

.titulo3 {
   background-color: rgb(255, 105, 0);
   margin-left: 5px;
   padding-left: 140px;
   padding-right: 141px;
   padding-top: 10px;
   padding-bottom: 10px;
   font-size: 30px;
   color: rgb(100, 50, 25);
   font-family: 'Mochiy Pop P One', sans-serif;
}


div .aaa {
   background-color: rgb(100, 50, 25);
   margin-left: 392px;
   padding-left: 30px;
   padding-right: 30px;
   padding-bottom: 11px;
   padding-top: 11px;
   font-size: 30px;
}

a {
   color: rgb(255, 255, 255);
   font-family: 'Indie Flower', cursive;
}

div .logo-primerainfancia {
   width: 40%;
   margin-left: 1125px;
   margin-top: 10px;
}